/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--second-color) var(--text-color);
}

  /* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    width: 8px;
    width: 8px;
}
*::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #000;
}

*::-webkit-scrollbar-track:hover {
    background-color: var(--text-color);
}

*::-webkit-scrollbar-track:active {
    background-color: var(--text-color);
}

*::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--second-color);
}

*::-webkit-scrollbar-thumb:hover {
    background-color: var(--second-color);
}

*::-webkit-scrollbar-thumb:active {
    background-color: var(--second-color);
}

/* Global Rules */

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
    z-index: 2;
    transition: .25s;
}

/* Variables */

:root{
    --container-color: #1a1e21;
    --second-color: #ff66c4;
    --text-color: #172317;
    --bg-color: #fff;
}

::selection{
    color: var(--bg-color);
    background: var(--second-color);
}

/* =========== Page =========== */

.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

/* Logo */

.logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--bg-color);
    background: #000;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 14px var(--container-color);
    position: fixed;
}

/* Articles */

.botonera{
    display: flex;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: space-between;
    margin-bottom: 25px;
}

.botonera-element{
    padding: calc(5px + 1vw); /* Establece el tamaño de fuente base */
    font-size: calc(.5rem + 0.8vw); /* Establece el tamaño de fuente base */
    border-radius: 15px;
    width: auto;
    min-width: 25%;
    border: 1px solid;
}

.centrarboton{
    display: block;
    margin: auto;
}

.botonera-element:hover{
    background: var(--second-color);
    color: var(--bg-color);
}

.textzone{
    display: block;
    width: 100%;
}

.elementoredact{
    display: flex;
    margin: auto;
    width: 80%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.article-imput{
    width: 70%;
    padding: 25px;
    border-radius: 15px;
    border: 1px solid;
    height: auto;
    resize: vertical;
}

.aricle-delete{
    width: auto;
    padding: 10px;
    height: min-content;
    align-self: center;
    margin-left: 10%;
    border-radius: 15px;
    border: 1px solid;
    display: block;
}

.aricle-delete:hover{
    background: var(--second-color);
    color: var(--bg-color);
}

/* =========== Body =========== */

/* Home */

.home{
    width: 100%;
    min-height: 440px;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    position: sticky;
    background: #000;
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.home-text{
    color: var(--bg-color);
    text-align: center;
}

.title-logo{
    max-height: 80vh;
    object-fit: contain;
}

.home-subtitle{
    font-size: calc(1rem x 100vh);
    font-weight: 400;
    position: relative;
    top: -40px;
}

.subtitlefix{
    width: 80%;
    margin: auto;
}

.swalbuton{
    font-size: 2rem;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background: var(--container-color);
    border: none;
    border-radius: 10px;
    transition: 0.5s;
}

.swalbuton .icon{
    width: 60%;
    height: 60%;
    color: var(--bg-color);
    transition: 0.5s;
}

.swalbuton:hover{
    background: var(--second-color);
    box-shadow: #000 5px 5px 0;
    border: solid #000 1px;
    transform: translate(-5px, -5px)
}

.swalbuton:hover ion-icon{
    background: var(--second-color);
    border-radius: 5px;
    border: solid #000 1px;
    box-shadow: #000 5px 5px 0;
    transform: translate(-5px, -5px)
}

.theicon{
    width: 100%;
    font-size: 1.8rem;
    color: var(--second-color);
}

.spanify{
    color: var(--second-color);
}

/* =========== Post Filter =========== */

.entire-page{
    background: var(--bg-color);
    padding-top: 10px;
    border-radius: 25px 25px 0 0;
    position: relative;
    margin-left: 8px;
    display: block;
}

.back-home{
    width: fit-content;
    display: block;
    margin: auto;
    margin-top: 100px;
    border: 0;
    background: var(--bg-color);
    border-radius: 25px;
    padding: 25px;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text-color);
    font-size: 0.9rem;
}

.back-home:hover{
    background: #ff66c4;
    color: var(--bg-color);
    transform: translate(-10px, -10px);
    box-shadow: var(--container-color) 10px 10px 0;
}

.back-home p{
    padding: 5px;
    border-radius: 25px;
}

.back-home:hover p{
    transform: translate(-5px, -5px);
    box-shadow: var(--container-color) 5px 5px 0;
    border: #000 1px solid;
}

.post-filter{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    width: 80%;
    justify-content: center;
    gap: 1.5rem;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

.filter-item{
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    width: fit-content;
}

.active-filter{
    background: var(--second-color);
    color: var(--bg-color);
    padding: 4px;
    border-radius: 4px;
}

/* posts */

.post{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    width: 80%;
    justify-content: center;
    gap: 1.5rem;
}

.post-box{
    background: var(--bg-color);
    box-shadow: 0 4px 14px hsl(355deg 25% 15% / 10%);
    padding: 15px;
    border-radius: 0.5rem;
}

.post-img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}

.article-img{
    width: 60%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 1rem;
    box-shadow: #0000008e 10px 10px 25px;
}

.category{
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--second-color);
}

.post-title{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text-color);
    /* To Remain Title In 2 Lines */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.post-date{
    display: flex;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 4px;
}

.post-description{
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 5px 0 10px;
    /* To Remain Title In 3 Lines */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.profile{
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid var(--second-color);
}

.profile-name{
    font-size: 0.82rem;
    font-weight: 500;
}

/* other things */

a{
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    width: 100%;
}

section{
    padding: 3rem 0 2rem;
}

/* =========== Footer =========== */

.footer{
    width: 100%;
    background: linear-gradient(360deg, #0000005b, rgba(255, 255, 255, 0));
    left: 0;
    right: 0;
    bottom: 0;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.footer p{
    font-size: 0.938rem;
}

.social{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.social ion-icon{
    font-size: 1.4rem;
    color: var(--text-color);
    transition: 0.3s;
}

.social ion-icon:hover{
    color: var(--second-color);
    transition: 0.3s all linear;
}


/* =========== Post Page =========== */

/* Post Content */

.post-header{
    width: 100%;
    height: 500px;
    background: var(--container-color);
    box-shadow: 0 0 25px var(--container-color);
}

.post-container{
    max-width: 800px;
    margin: auto;
    width: 80%;
}

.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem !important;
}

.header-title{
    width: 90%;
    font-size: 2.6rem;
    color: var(--bg-color);
    text-align: center;
    margin-bottom: 1rem;
}

.header-img{
    max-width: 480px;
    width: 100%;
    max-height: 420px;
    height: 100%;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 0 25px var(--container-color);
    border-radius: 10px;
}

/*.post-content{
    margin-top: 15px;
}*/

.sub-heading{
    font-size: 1.2rem;
    margin-top: 50px;
}

.post-text{
    font-size: 1rem;
    line-height: 1.7rem;
    margin: 1rem 0;
    text-align: justify;
}

/* share */
.share{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.share-title{
    font-size: 1.1rem;
}

.share .social ion-icon{
    font-size: 1.8rem;
}

/* =========== Responsive =========== */

@media (max-width: 768px) {
    .header-title{
        font-size: 2rem;
    }
    .post-header{
        height: 435px;
    }
    .entire-page{
        margin-right: 8px;
    }
}
@media (max-width: 480px) {
    /*.footer{
        position: relative;
    }*/
}

.Name{
    color: var(--second-color);
}

/* ghco tag */

.fullname{
    color: var(--bg-color);
    background: var(--container-color);
    padding: 5px 10px;
    border-radius: 25px;
    font-weight: 600;
}

.Name{
    color: var(--second-color);
}
